body{
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #faf8ef;
}

h1{
  margin-top: 20px;
}

#board{
  width: 400px;
  height: 400px;
  background-color: #bbada0;
  margin: auto;
  margin-top: 30px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;

  padding: 10px;
  border-radius: 10px;
}

.tile{
  background-color: #cdc1b4;
  border-radius: 5px;
}
